@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    position: relative;
    /* min-width: 1200px; */
    background-color: #EEE;
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 4px 0px;
    background-color: #FFF;
    width: 100%;
    height: 72px;
    overflow: hidden;
    z-index: 100;
}

#header,
.hold {
    height: 72px;
}

.nav,
.nav-link {
    height: 100%;
}

.nav-link {
    float: right;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right;
}

.nav-link::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0px;
    height: 100%;
}

.nav-link a {
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-link a:hover {
    padding: 7px;
    color: #000;
    border: 1px solid #000;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    margin-left: 20px;
    display: block;
    padding: 5px 20px;
}

.logo-line {
    display: inline-block;
    height: inherit;
}

#mainBody {
    /* padding: 0 0 69px 0; */
    /* min-height: 900px; */
    max-height: calc(100% - 72px);
    overflow: auto;
    background-color: #EEE;
}

#footer {
    width: 100%;
    height: 69px;
    box-shadow: 1px 0px 4px 0px;
    text-align: center;
    background: #dcceb3;
}

#footer::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}

.swiper-list-first {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 100px 40px;
    width: 100%;
    min-height: 300px;
    /* background: url("../img/first_bg.png") 50% 0 #c8d3d4; */
    background-color: #c8d3d4;
}

/* .swiper-list-first::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 558px;
    background-size: 100%;
    background: url("../img/first_bg.png") 50% 0 no-repeat;
    z-index: 10;
} */
.swiper-container-2 {
    margin: 0 auto;
    overflow: hidden;
}

.swiper-container {
    width: 100%;

}

.slider-container-3d {
    transition-duration: 0ms;
    transform: translate3d(307px, 0px, 0px);
    perspective-origin: 120px 50%;
}

.swiper-slide {
    width: 20%;
    width: auto !important;
}

.swiper-slide.is-working .card-body>span {
    color: maroon;
}

.swiper-slide img {
    background-color: #C1AFAF;
}

.swiper-slide.is-working img {
    background-color: #000;
}

.slider-card-wrap {
    transition-duration: 0ms;
}

.card {
    width: 100%;
    max-width: 240px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
}

.card-img {
    display: block;
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-body {
    padding: 15px 20px;
    font-weight: 600;
    text-align: center;
}

.card-body>h3 {
    font-size: 1.25rem;
    line-height: 1.5;
}

.card-body>span {
    display: block;
    font-size: 1rem;
    color: #8C6B53;
}