* {
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

#header {
    /* padding: 20px; */
    /* background: rgb(251 255 242); */
    box-shadow: 1px 0px 4px 0px;
}

.logo {
    float: left;
}

.logo a {
    margin-left: 20px;
    display: block;
    padding: 20px;
}

.logo-line {
    display: inline-block;
    height: inherit;
}

#mainBody {
    min-height: 500px;
    background-color: #EEE;
    /* background-color: #FFF; */
}

#footer {
    /* background: rgb(251 255 242); */
    min-height: 69px;
    box-shadow: 1px 0px 4px 0px;
}

.swiper-list-first {
    display: block;
    margin: 0 auto;
    padding: 40px;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
}

.slider-container-3d {
    transition-duration: 0ms;
    transform: translate3d(307px, 0px, 0px);
    perspective-origin: 120px 50%;
}

.swiper-slide {
    width: auto !important;
}

.slider-card-wrap {
    transition-duration: 0ms;
}

.card {
    width: 240px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
}

.card-img {
    display: block;
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-body {
    padding: 15px 20px;
    font-weight: 600;
    text-align: center;
}

.card-body>h3 {
    font-size: 1.25rem;
    line-height: 1.5;
}

.card-body>span {
    display: block;
    font-size: 1rem;
    color: #8C6B53;
}