@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); */

* {
    box-sizing: border-box;
}

:root {
    --swiper-theme-color: #96999c;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    background-color: #EEE;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 4px 0px;
    background-color: #FFF;
    width: 100%;
    height: 60px;
    z-index: 100;
}

.hold {
    height: 60px;
}

/* 導航列 */
.nav,
.nav-link {
    height: 100%;
}

.nav {
    position: relative;
}

.nav::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}

/* Menu mobile 導航開關 */
.nav-switch {
    display: none;
    position: absolute;
    top: 16px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-switch .menu-icon {
    display: block;
    width: 30px;
    height: 24px;
    border-top: 4px solid #636363;
    border-bottom: 4px solid #585656;
    background-color: #d88282;
    padding: 6px 0px;
    background-clip: content-box;
    transition-property: padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out
}

.nav-switch.close-img {
    top: 9px;
    left: 27px;
}

/* 導航列關閉樣式 */
.nav-switch.close-img .menu-icon {
    display: inline-block;
    padding: 0px 0;
    border-top: 0;
    background-color: inherit;
    transform: rotate(45deg);
    border-bottom-color: #d88282;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.16, -25.45, 0.2, 15.4)
}

.nav-switch.close-img .menu-icon::after {
    margin-top: 21px;
    display: block;
    content: "";
    height: 4px;
    background: #636363;
    transform: rotate(-90deg);
}

.nav-link {
    float: right;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right;
    font-size: 14px;
}

.nav-link::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0px;
    height: 100%;
}

.nav-link a {
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-link a:hover {
    padding: 7px;
    color: #000;
    border: 1px solid #000;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    margin-left: 20px;
    display: block;
}

.logo-line {
    display: inline-block;
    height: inherit;
}


/* Header - RWD */
@media(max-width: 768px) {
    #header {
        text-align: center;
    }

    .nav-switch {
        display: block;
    }

    .nav-link {
        /* display: none; */
        margin: 0;
        position: absolute;
        background: #EEE;
        width: 0;
        height: 100%;
        transition-property: width;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        overflow: hidden;
    }

    .mobile-nav-mask {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(0 0 0 / 58%);
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .mobile-nav-mask.open {
        display: block;
    }

    .mobile-open {
        display: block;
        width: 70%;
        height: calc(100vh - 60px);
    }

    .nav-link::before {
        display: none;
    }

    .nav-link a {
        position: relative;
        display: block;
        text-align: center;
        padding: 15px 40px;
        text-decoration: none;
        color: #222;
        font-family: sans-serif;
        font-size: 14px;
        letter-spacing: 4px;
        z-index: 0;
    }

    .nav-link a:hover {
        border: 0;
        padding: 15px 40px;
        color: #FFF;
    }

    .nav-link a:hover::after {
        transition: transform 0.5s;
        transform-origin: bottom;
        transform: scaleY(1);
    }

    .nav-link a::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #c8d3d4;
        transition: transform 0.5s;
        transform-origin: bottom;
        transform: scaleY(0);
    }

    .logo a {
        margin-left: 0;
        height: auto;
    }

    .swiper-slider-top .swiper-button-prev,
    .swiper-slider-top .swiper-button-next {
        display: none;
    }

}

/* 主結構 */
#mainBody {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    overflow: auto;
    background-color: #EEE;
}

#footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 69px;
    box-shadow: 1px 0px 4px 0px;
    text-align: center;
    background: #dcceb3;
}

#footer::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}

.article-third,
.article-second,
.swiper-list-first {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 30px 40px;
    width: 100%;
    min-height: 300px;
    /* background: url("../img/first_bg.png") 50% 0 #c8d3d4; */
    background-color: #c8d3d4;
}

.article-third .content,
.article-second .content,
.swiper-list-first .content {
    margin: 0 auto;
    max-width: 800px;
}

.article-third .title,
.article-second .title,
.swiper-list-first .title {
    padding-bottom: 30px;
    text-align: center;
    font-size: 26px;
}

.article-third .title span,
.article-second .title span,
.swiper-list-first .title span {
    border-bottom: 2px solid #403C3C;
    color: #403C3C;
}

.swiper-container-2 {
    margin: 0 auto;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    width: 100%;
    /* max-width: 1100px; */
    /* height: 500px; */
    height: 45vh;
    overflow: hidden;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.slider-container-3d {
    transition-duration: 0ms;
    transform: translate3d(307px, 0px, 0px);
    perspective-origin: 120px 50%;
}

.swiper-container-2 .swiper-slide {
    width: auto;
}

.swiper-slide.is-working .card-body>span {
    color: maroon;
}

.swiper-slide img {
    background-color: #C1AFAF;
}

.swiper-slide.is-working img {
    background-color: #000;
}

.slider-card-wrap {
    transition-duration: 0ms;
}

.card {
    width: 100%;
    max-width: 240px;
    border-radius: 8px;
    background: white;
    overflow: hidden;
}

.card-img {
    display: block;
    width: 100%;
    height: 240px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-body {
    padding: 15px 20px;
    font-weight: 600;
    text-align: center;
}

.card-body>h3 {
    font-size: 1.25rem;
    line-height: 1.5;
}

.card-body>span {
    display: block;
    font-size: 1rem;
    color: #8C6B53;
}

.article-second {
    background-color: #FFF;
}

.text-list p {
    line-height: 35px;
}